body {
  color: #196179;
}
.cute-header {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  text-align: center;
  background-image: url("../img/banner-pizza.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 40px;
}
.choose-size {
  height 200px;
  border: 5px solid #196179;
  border-radius: 20%;
}
.radio {
  font-size: 25px;
  text-align: center;
}
.toppings {
  text-align: left;
}
span, label {
  font-family: 'Cabin', sans-serif;
}
button {
  text-align: center;
}
